*{
    margin: 0 auto;
    padding: 0;
}
body{
    background: white;
}

.max-width{
    max-width: 500px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10%;
    background-color: whitesmoke;
    box-shadow: 0 0 5px white;
    text-align: center;
    box-shadow: 25px 25px 50px -30px palevioletred;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: -webkit-linear-gradient(rgb(135, 209, 231), #FFB6C1, #FDFD96);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    margin-top: 5px;
}
#title{
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
margin-top: 30px;
}
button{
    padding: 10px;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    transition: all .5s;
    cursor: pointer;
    text-align: center;
}
button:hover{
    background-color: #E9fdfd;
}
.bg-pink{
    background-color: #ADD8E6;
}
.bg-purple{
    background-color: #FFB6C1;
}
.bg-aqua{
    background-color: #FDFD96;
}


